<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Some website</title>
</head>
<body>
  {{> header}}
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero quam earum deleniti. Minus asperiores labore provident fugiat ea corporis a modi itaque quaerat! Dolore beatae accusantium odit repudiandae, esse inventore!</p>

  {{> footer}} {{!-- xrisimopiish tou footer partial --}}
</body>
</html>